
{{#if data}}
    <h2>Just Added: </h2>
    <h5>lists all podcasts added within the last 30 days </h5>
    {{#each data}}

    {{#if (justAdded this.date)}}
    <div class="container">
    <article id="{{this.title}}">
        <h2 class="title">{{this.title}}</h2>
        <h5 class="author">{{this.author}}</h5>

        <div class="content">
            <img src="/public/{{this.image}}" width="200px" height="200px" alt="not image found" onerror="this.onerror=null;this.src='/public/podcast-header1.jpg';" />
            <br>
            <div class="description">{{{this.description}}}</div>
            <div class="ratings">
                <div><strong> Avg. Rating: </strong>{{getAverage this.ratings}}</div>
                <div>
                    <form method="POST" action="/addRating/{{this.title}} ">
                       <div id="ratinginput"><input style="width: 95px;" type="number" step="0.1" name="newRating" max="5" min="0" placeholder="Add new Rating"></input></div>
                        <div><button type="submit">Submit</button></div>
                    </form>
                </div>
            </div>
        </div>
    </article>
    </div>
    {{/if}}
{{else}}

    <article>
        <h1>There are no podcasts yet. 😢 </h1>
        <a href="/addNewPodcast">Write your first post!</a>
    </article>
{{/each}}
{{/if}}


<script>
    function myFunction() {
        console.log("inside myFunction!!!!!!!!!!!");
        var input, filter, ul, li, a, i, txtValue, article;
        input = document.getElementById("myInput");

        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                //  li[i].style.display = "";
                console.log(txtValue)

                article = document.getElementById(txtValue);
                article.style.display = "";
            } else {
                article = document.getElementById(txtValue);
                article.style.display = "none";

            }
        }
    }
    var container = document.getElementById("container")
    console.log("CONTAINER!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")

    console.log(container)
</script>